<!DOCTYPE html>
<html>
  <head>
    <title>Help Page</title>
    <link rel="icon" href="../../public/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main-content">
        {{>header}}
        <p>{{help}}</p>
    </div>
    {{>footer}}
  </body>
</html>
