<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="icon" href="../../public/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
    
  </head>
  <body>
    <div class="main-content">
        {{>header}}
        <p>Get your weather!</p>
        <button id="current-location">
            Weather For Current Location
        </button>
        <p></p>
        <form>
          <input placeholder="Location" type="text">
          <button>
            Search
          </button>
        </form>

        <p id="message-1"></p>

        <p id="message-2"></p>
    </div>
    {{>footer}}
  </body>
  <script src="/js/app.js"></script>
</html>
